* {
    padding: 0;
    margin: 0;
}

html {
    margin: 0 auto;
}

@media only screen and (min-width: 1280px) {
    .container-fluid {
        width: 1280px;
    }
    #framework img {
        width: 100%;
        margin: 0 auto;
    }
    header img {
        margin-left: 20px;
    }
    #framework .container-fluid {
        width: 95%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1280px) {
    #framework img {
        width: 100%;
    }
    header img {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 990px) {
    .container-fluid {
        width: 95%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 650px) {
    #header_logo {
        margin: 0 auto;
    }
    header h1 {
        margin: 0 auto;
    }
}

@media only screen and (min-width: 768px) {
    #scroll_text {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    #framework img {
        width: 150%;
    }
}

@media only screen and (min-width: 530px) {}

@media only screen and (max-width: 500px) {
    #framework img {
        width: 250%;
    }
}

.dropdown-menu {
    padding: 0;
    margin: 0;
    border: 0px;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.show .dropdown-menu {
    max-height: 300px;
    opacity: 1;
}

header {}

header nav {
    margin-top: 15px;
}

#header_logo {
    width: 100px;
    height: 60px;
}

#login_group {
    display: block;
}

#logout_group {
    display: none;
}

#nav-icon {
    width: 60px;
    height: 45px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.navbar-toggler {
    padding: 0;
}

#nav-icon span {
    position: absolute;
    display: block;
    height: 9px;
    width: 60px;
    background: aliceblue;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
    top: 18px;
}

#nav-icon span:nth-child(4) {
    top: 36px;
}

#nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

nav {
    font-size: 18px;
}

header a h1 {
    font-size: 48px;
    color: aliceblue;
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
}

header .nav-link {
    color: aliceblue
}

header .nav-link:hover {
    color: rgb(199, 195, 195);
}

header {
    padding: 20px 10px;
    background-color: #1D84B5;
    color: aliceblue;
}

#framework {
    margin-top: 20px;
}

#framework_img {
    overflow-x: auto;
}

#framework p {
    font-size: 28px;
    color: #1D84B5;
}

#represent {
    margin-top: 20px;
}

#represent .member {
    margin-top: 20px;
    border: 2px solid rgb(119, 162, 219);
    border-radius: 5px;
}

#represent .member_info {
    color: #2E4057;
    font-size: 18px;
    margin-top: 20px;
}

#represent .member_info a {
    text-decoration: none;
    color: #2E4057;
    font-size: 18px;
}

#represent .member .photo img {
    height: 300px;
    width: 200px;
    margin: 0 auto;
}

#represent .member .member_info_icon img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

#head {
    position: relative;
    min-height: 100%;
    height: 100%;
    background-image: url(../img/hk1.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #000000;
    text-align: center;
    padding: 20em 0 20em 0;
    -webkit-animation: fadein 3s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s;
    /* Firefox < 16 */
    -ms-animation: fadein 3s;
    /* Internet Explorer */
    animation: fadein 3s;
}

#info {
    background: #1D84B5;
    text-align: center;
    padding: 10em 0 10em 0;
    margin-bottom: 0;
}

#info .info-title {
    font-size: 48px;
}

#info .info-caption {
    color: white;
}

#info img {
    max-width: 100%;
    max-height: 768px;
}

#footer {
    background: #333;
    color: rgb(153, 153, 153);
    width: 100%;
    padding-top: 20px;
}

#footer-title {
    font-size: 20px;
    margin: 0;
    text-align: center;
}

#footer a {
    font-size: 14px;
    text-decoration: none;
    color: rgb(153, 153, 153);
}

#footer a:hover {
    font-size: 14px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#footer h3 {
    font-size: 16px;
}

#footer hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(153, 153, 153);
    margin: 1em 0;
    padding: 0;
}

.footer_map_part {
    margin-top: 15px;
}

#copyright p {
    padding: 0;
    margin: 0;
}

#copyright {
    text-align: center;
}

#copyright p.float-right {
    padding-bottom: 20px;
}

#all_student_data .flip {
    margin: 0px;
    padding: 5px;
    background: rgb(117, 150, 240);
    cursor: pointer;
    font-family: 'Arial';
    border-bottom: rgb(246, 246, 246) 2px solid;
}

#all_student_data .panel {
    margin: 0px;
    padding: 5px;
    background: #e5eecc;
    border: solid 1px #c3c3c3;
    display: none;
    font-family: 'Arial';
}